:root {
  /* --light-bg-sec: #dbe6e6c7; */
  /* --light-bg-sec: #dcdcf0ec; */
  /* --light-bg-sec: #b0b0c7ec; */
  --dark-bg-main: #1a2222;
  --dark-bg-sec: rgb(44, 50, 54);
  --dark-hover-color: rgba(41, 68, 85, 0.219);
  --light-bg-main: #dcdcf0a6;
  --light-bg-main-solid: #dcdcf0;
  --light-bg-sec: #c3c3e0ec;
  --btn-color: #0098df;
  --btn-hover-color: #0372a5;
}
* {
  font-family: "Montserrat", sans-serif;
}

body,
html {
  padding: 0rem;
  margin: 0;
  scroll-behavior: smooth;
  background-color: inherit;
  overflow-x: hidden;
  background-color: var(--light-bg-sec);
}
body {
  position: absolute !important;
}
html p,
html h1,
html h2,
html h3 {
  transition: all 0.4s;
}
.dark body,
.dark html {
  background-color: var(--dark-bg-sec);
}

a {
  text-decoration: none !important;
}

button {
  padding: 0.8rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 570;
  background-color: var(--btn-color);
  border: none;
  color: white;
}

button.primary:hover {
  background-color: var(--btn-hover-color);
}

.section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-color {
  background-color: var(--light-bg-sec) !important;
}
.dark .secondary-color {
  background-color: var(--dark-bg-sec) !important;
}
.main-color {
  background-color: var(--light-bg-main) !important;
}

.dark .main-color {
  background-color: var(--dark-bg-main) !important;
}

.dark a {
  color: white !important;
}
a,
.projcard-tag {
  animation: hover-shrink 0.2s forwards !important;
}
a:hover,
.projcard-tag:hover {
  animation: hover-grow 0.2s forwards !important;
  color: var(--btn-color) !important;
}
svg:hover {
  animation: hover-grow 0.2s forwards !important;
}
svg {
  animation: hover-shrink 0.2s forwards !important;
}

.navigation svg {
  width: 1.3rem !important;
  height: 1.3rem !important;
}
.dark h1,
.dark h2,
.dark h3,
.dark p {
  color: white;
}
h1,
h2,
h3,
p {
  color: var(--dark-bg-main);
}

/* ================= ANIMATIONS ================== */

@keyframes dropImage {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes hover-grow {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hover-shrink {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* -------------------------------------------------------- */

/* ================= MEDIA-QUERIES ================== */

@media screen and (max-width: 680px) {
  h1,
  h2 {
    font-size: 1.2rem;
    padding: 0rem 2rem;
  }
  .about p {
    padding: 0rem 1rem !important;
    line-height: 2.5rem !important;
    font-size: 1rem !important;
    margin: 2rem 0 3rem 0 !important;
  }
  .about button {
    margin: auto;
  }
  .about h1 {
    margin: auto;
  }
  .about {
    padding: 1rem 0rem !important;
  }
  .my-hero {
    height: 60vh !important;
    padding-bottom: 8rem !important;
    padding-top: 3rem !important;
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 96%, 0% 100%) !important;
    clip-path: polygon(0 0%, 100% 0%, 100% 96%, 0% 100%) !important;
  }
}

/* -------------------------------------------------------- */
