:root{
  --dark-bg-main: rgba(16, 21, 21, 0.749);
  --dark-bg-sec: rgba(41, 68, 85, 0.366);
  --dark-hover-color: rgba(41, 68, 85, 0.219);
  --light-bg-main: #f0f0f0b6;
  --light-bg-sec: #dbe6e6c7;
}
* {
  font-family: "Montserrat", sans-serif;
}
body,
html {
  padding: 0rem;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #f0f0f0;
  transition: all 0.2s;
}

.section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-color {
  /* background-color: #a5a86f85 !important; */ /* light olive green */
  background-color: var(--light-bg-sec) !important;
}
.dark .secondary-color {
  background-color: var(--dark-bg-sec) !important;
}
.main-color {
  background-color: var(--light-bg-main) !important;
}

.dark .main-color {
  background-color: var(--dark-bg-main) !important;
}
.dark .navbar{
  background-color: var(--dark-bg-main) !important;
}

.dark a {
  color: white !important;
}
a:hover{
  background-color: var(--light-bg-sec) !important;
}

.dark a:hover{
  background-color: var(--dark-hover-color) !important;
}