ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #111111;
}

li a:hover {
  background-color: #b0b19c13;
  font-weight: 600;
}
svg {
  width: 1.3rem !important;
  height: 1.3rem !important;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
.navbar .themeBtn {
  margin-top: 0.8rem;
  border: none;
  background-color: inherit;
}
.horizontal {
  border-bottom: 1px solid #b0b19c13;
}
.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #86885b79;
  border-radius: 1rem;
  top: 150px;
}
.vertical li {
  width: 100%;
}
.sidebar {
  position: fixed;
  width: 60px;
  z-index: 10;
  top: 150px;
}
